<div class="" style="padding: 0px 30px 0px 30px;">
  <div class="grid-center" *ngIf="hero">
    <h2>Crea tu Propio Héroe</h2>
  </div>
  <div style="margin: 50px 150px 20px 150px;" *ngIf="hero">
    <div class="grid">
      <div class="col-6">
        <mat-form-field class="W100" appearance="none" >
          <label class="label-input">Nombre</label>
          <input matInput appUppercase type="text" [(ngModel)]="hero.name" autocomplete="off" style="background: #FFF;
        border: 1px solid #cacaca; margin-top: 2px;
    padding: 12px; border-radius: 8px; width: 90%;" placeholder="Nombre"><br>
        <label class="label-input-error" *ngIf="nameError && !hero.name">
          El nombre es Obligatorio
        </label>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="W100" appearance="none">
          <label class="label-input">Identidad</label>
          <input matInput type="text" [(ngModel)]="hero.identity" autocomplete="off" style="background: #FFF;
        border: 1px solid #cacaca; margin-top: 2px;
    padding: 12px; border-radius: 8px; width: 90%;" placeholder="Identidad Secreta"><br>
          <label class="label-input-error" *ngIf="identityError && !hero.identity">
            La Identidad es Obligatoria
          </label>
        </mat-form-field>
      </div>
    </div>

    <div class="grid">
      <div class="col-6">
        <mat-form-field class="W100" appearance="none" >
          <label class="label-input">Ciudad</label>
          <input matInput type="text" [(ngModel)]="hero.city" autocomplete="off" style="background: #FFF;
        border: 1px solid #cacaca; margin-top: 2px;
    padding: 12px; border-radius: 8px; width: 90%;" placeholder="Ciudad">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="W100" appearance="none">
          <label class="label-input">Edad</label>
          <input matInput type="text" type="number" min="10" max="1000" [(ngModel)]="hero.age" autocomplete="off" style="background: #FFF;
        border: 1px solid #cacaca; margin-top: 2px;
    padding: 12px; border-radius: 8px; width: 90%;" placeholder="Edad">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="W100" appearance="none">
          <label class="label-input">Universo</label>
          <mat-select [(value)]="hero.universe" placeholder="Universo" [(ngModel)]="hero.universe" style="background: #FFF;
        border: 1px solid #cacaca; margin-top: 2px;
    padding: 12px; border-radius: 8px; width: 80%;">
            <mat-option *ngFor="let universe of universes" [value]="universe">
              {{universe}}
            </mat-option>
          </mat-select><br>
          <label class="label-input-error" *ngIf="universeError && !hero.universe">
            Universo Obligatorio
          </label>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <div class="grid col-6" data-push-left="off-6">
        <div class="col-6">
          <button (click)="goBack()" class="cancel-button">Cancelar</button>
        </div>
        <div class="col-6">
          <button (click)="add()" class="confirm-button">Guardar</button>
        </div>

      </div>
    </div>
  </div>
</div>
