/* You can add global styles to this file, and also import other style files */
@import 'gridlex';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*html, body { height: 100%; }*/
html {
  height: 100%;
  background: #f7f7f7;
}
body { margin-top: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cancel-button {
  width: 100%;
  background: #0a2831;
  padding: 10px;
  border: 0;
  color: #FFF;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.confirm-button {
  width: 100%;
  background: #da742c;
  padding: 10px;
  border: 0;
  color: #FFF;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.new-button {
  padding: 12px;
  border: 0px;
  border-radius: 20px;
  background: #da742c;
  font-weight: 500;
  cursor: pointer;
}

.label-input {
  padding: 5px;
  font-weight: 500;
}

.label-input-error {
  font-size: 10px;
  color: red;
  padding-left: 5px; 
  padding-top: 2px;
}

/*PADDINGS*/

.pad0 {
  padding: 0px!important;
}

/*Padding left*/
.padL25 {
  padding-left: 25px;
}
/*MARGINS*/
.mar0 {
  margin: 0!important;
}

/* WIDTHS */

.W100 {
  width: 100%!important;
}
